* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14;
}

#workspaces button {
  padding: 0 6px;
  color: #aaaaaa;
}

#workspaces button.active {
  font-weight: bold;
  color: #ffffff;
}

window#waybar {
  min-height: 14px;
  background: #1e1e2e;
  color: #ffffff;
  border-radius: 0px;
  border: 2px rgba(15, 15, 15, 0.5);
}

window#waybar.hidden {
  opacity: 0.3;
}

#custom-date {
  color: #ffffff;
}

#clock {
  color: #ffffff;
}

#battery {
  color: #a6e3a1;
}

#battery.warning {
  color: #ff0000;
}

#custom-brightness {
  color: #f9e2af;
}

#custom-volume {
  color: #89dceb;
}

#network {
  color: #89b4fa;
}

#custom-system {
  color: #f5c2e7;
}

#custom-arch {
  color: #4d6fb7;
}
/* #window, */
/* #workspaces { */
/*   margin: 0 4px; */
/* } */
